In [ ]:
import pandas as pd 
import numpy as np
df=pd.read_csv("reliance_stock.csv")
df.rename(columns={"Price": "Date"} , inplace=True)
df.drop(index=[0,1] , axis=0 , inplace=True)
df.reset_index(inplace=True)

df["Close"]= pd.to_numeric(df["Close"])
df["Daily_return"] = df["Close"].pct_change()
df["Cumulative_return"] = (1+df["Daily_return"].cumprod())
df["daily_log_retrn"]= np.log(df["Close"]/df["Close"].shift(1))

,index,Date,Close,High,Low,Open,Volume,Daily_return,Cumulative_return,daily_log_retrn
0,2,2020-01-01,675.324158,683.1528519736394,673.4900624593615,679.0819357370663,14004468,NaN,NaN,NaN
1,3,2020-01-02,686.821228,689.3487905881979,676.397899264457,676.397899264457,17710316,0.017025,1.017025,0.016881
2,4,2020-01-03,687.648804,689.6618949086101,681.3187290426969,685.7922517653002,20984698,0.001205,1.000021,0.001204
3,5,2020-01-06,671.700745,683.510829151107,670.1349935917717,679.976780464453,24519177,-0.023192,1.000000,-0.023465
4,6,2020-01-07,682.034607,686.4633961016671,677.0689495898322,679.5293813804267,16683622,0.015385,1.000000,0.015267